*{
    font-family: 'Montserrat', sans-serif;
}

.fondo-gris{
    background-color: #F2EFEF95;
}

#top-container{
    padding-top: 54.39px;
}

#breadcrumb{
    margin-bottom: 10px;
}
.breadcrumb{
    background-color: transparent !important;
}

li.breadcrumb-item, li.breadcrumb-item a, .breadcrumb-item + .breadcrumb-item::before{
    font-weight: 500;
    color: #B4B3BB !important;
    font-size: 18px;
    letter-spacing: 2.47px;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    content: "/";
}

#banner div:first-child h1{
    font-size: 40px;
    font-weight: 700;
    color:#000000;
    letter-spacing: -2px;
}

#banner div:first-child p{
    letter-spacing: 1.8px;
}



#banner-descripcion p{
    margin-top: 40px;
    margin-left: -20px;
    font-size: 20px;
    line-height: 24px;
    color:#707070
}

#config-preview{
    text-align: right;
}

#config-preview img{
    margin-top: 5px;
    margin-right: 5px;
    width: 70%;
    height: auto;

}

#config-preview img:not(:last-child){
    margin-top: 5px;
    margin-bottom: 30px;
}

#config-main-image img{
    padding-right: 15px;
    width: 100%;
}

#config-form{
    padding-left: 35px;
    padding-top: 70px;
}

#config-form div:nth-child(5){
    margin-top: 50px;
}

#config-form input{
    border: transparent;
    font-size: 18px;
    height: 55px;
    border-radius: 9px 9px 9px 9px;
}

#config-form select{
    border: transparent;
    font-size: 18px;
    height: 55px;
    border-radius: 9px 9px 9px 9px;
}

#config-form div:first-child label:nth-child(2){
    color: #b9b9b9;
    font-size: 18px;
}

.color-negro{
    color: #000000;
}
.subtitulo-azul{
    color:#216EFC;
    font-size: 18px;
    font-weight: bold;
}

.bold-spaced-black{
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 14px;
    color: #000000;
    /* color: #313131; */
}

.bold-spaced-less-black{
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 14px;
    color: #313131;
}

.bold-gray-for-config{
    font-weight: bold;
    font-size: 14px;
    color: #8e8686;
    letter-spacing: 1.4px;
}


.red{
    background-color: tomato;
}

.blue{
    background-color: cadetblue;
}

.green{
    background-color: forestgreen;
}
