*{
    font-family: 'Montserrat', sans-serif;
}

.fondo-gris{
    background-color: #F2EFEF95;
}

#servCliente a{
    font-size: 13px;
    letter-spacing: 0.36px;
    color: #828282
}


#top-container{
    padding-top: 54.39px;
    padding-bottom: 90px;
}

#breadcrumb{
    margin-bottom: 10px;
}
.breadcrumb{
    background-color: transparent !important;
}

li.breadcrumb-item, li.breadcrumb-item a, .breadcrumb-item + .breadcrumb-item::before{
    font-weight: 500;
    color: #B4B3BB !important;
    font-size: 18px;
    letter-spacing: 2.47px;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    content: "/";
}

#banner div:first-child h1{
    font-size: 40px;
    font-weight: 700;
    color:#000000;
    letter-spacing: -2px;
}

#banner div:first-child p{
    letter-spacing: 1.8px;
}



#banner-descripcion p{
    margin-top: 40px;
    margin-left: -20px;
    font-size: 20px;
    line-height: 24px;
    color:#707070
}

#config-preview{
    text-align: right;
}

#config-preview img{
    margin-top: 5px;
    margin-right: 5px;
    width: 70%;
    height: auto;

}

#config-preview img:not(:last-child){
    margin-top: 5px;
    margin-bottom: 30px;
}

#config-main-image img{
    padding-right: 15px;
    width: 100%;
}

#config-form{
    padding-left: 35px;
    padding-top: 70px;
}

#config-form div:nth-child(5){
    margin-top: 50px;
}

#config-form input{
    border: transparent;
    font-size: 18px;
    height: 55px;
    border-radius: 9px 9px 9px 9px;
}

#config-form select{
    border: transparent;
    font-size: 18px;
    height: 55px;
    border-radius: 9px 9px 9px 9px;
}

#config-form div:first-child label:nth-child(2){
    color: #b9b9b9;
    font-size: 18px;
}

#container-tela{
    margin-top: 60px;
}

#tela-img{
    padding: 30px 0px ;
}

#tela-img img{
    width: 100%;
    height: auto;
}


#tela-config{
    padding-left: 20px;
}

#tela-config div.container div:first-child div.row{
    padding-left: 30px;
}

#colors-1{
    margin-top: 32px;
}

#colors-1 img{
    width: 100%;
    height: auto;
    display: block;
}

#colors-1 div.contenedor-img div{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.05),0 6px 20px 0 rgba(0,0,0,0.05);
}

.color-negro{
    color: #000000;
}

.titulo-negro{
    color: #000000;
    font-weight: 400;
    letter-spacing: -2px;
}

.subtitulo-azul{
    color:#216EFC;
    font-size: 18px;
    font-weight: bold;
}

.bold-spaced-black{
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 14px;
    color: #000000;
    /* color: #313131; */
}

.bold-spaced-less-black{
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 14px;
    color: #313131;
}

.bold-gray-for-config{
    font-weight: bold;
    font-size: 14px;
    color: #8e8686;
    letter-spacing: 1.4px;
}

.light-gray-hint{
    font-size: 24px;
    color: #b9b9b9;
    line-height: 26.4px;
}

.img-border{
    border: 1px solid #707070;
}

.tela-titulo{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.8px;
    color: #313131;
    line-height: 26.4px;
}

.tela-subtitulo{
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 26.4px;
    color: #8E8686;
}

.contenedor-img{
    width: 50% !important;
    margin : 20px 0px;
    padding-right: 20px !important;
}

.contenedor-img-desc{
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}


.red{
    background-color: tomato;
}

.blue{
    background-color: cadetblue;
}

.green{
    background-color: forestgreen;
}
