@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1500px !important;
    }
    }

    /* ESTILOS DEFAULT PARA HEADER/FOOTER */
    @media only screen and (max-width: 1199px) {
        #basic-navbar-nav{
            font-size: 0.88rem;
        }
    }

    @media only screen and (max-width: 767px) {

        #footer-contenido {
            margin-top: 60px;
            margin-bottom: 40px;
        }
    
        #footer-contenido > div{
            margin-top: 16px;
            margin-bottom: 16px;
        }
    
        #footer-contenido {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }