/* REGLAS NECESARIAS PARA HEADER Y FOOTER */

*{
    font-family: 'Montserrat', sans-serif;
}



#servCliente a{
    font-size: 13px;
    letter-spacing: 0.36px;
    color: #828282
}

#footer-contenido{
    margin-top: 80px;
    margin-bottom: 80px;
}

#row-features{
  margin-top: 64px;
  margin-bottom: 64px;
}

#row-cards-coloridas{
  margin-top: 90px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}

.recuadro-negro{
  background-color: black;
  padding-left: 10px;
  margin-left: 30px;
}

.grandes-ofertas{
  color: white;
  font-weight: bold;
  margin: 0px 0px;
  letter-spacing: 9.12px;
  font-size: 24px;
  line-height: 47.31px;
  font-size: 24px;
}


.summer-sale-black-regular{
  font-size: 48px;
  letter-spacing: 2.4px;
  line-height: 48px;
}

.summer-sale-blue-bold-big{
  font-weight: bold;
  font-size: 120px;
  color: #216EFC;
  letter-spacing: 12px;
  line-height: 73.79px;
}

.div-amarillo{
  margin-top: 100px;
  height: 500px;
  background-color: #FFDD22;
}

div.div-amarillo div.align-items-center{
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 75px;
}

.mucho-padding-izq{
  padding-left: 45px;
}

.comprar-ahora{
  margin-top: 50px;
  margin-bottom: 0px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: 4.8px;
  font-weight: bold;
}

/* div.div-amarillo > div.row{
  width: 30%;
} */

div.texto-card-colorida{
  margin-top: 50px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.cards-coloridas{
  height: 425px;
  width: 90%;
  border-radius: 80px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);

}

#card-azul{
  background-color: #216EFC;
}

#card-naranja{
  background-color: #F38B23;
}

#card-verde{
  background-color: #ACCC23;
}

#oferta-de-la-semana{
  margin-top: 115px;
  background-color: #216EFC;
}

#ofertas-desc{
  padding-left: 55px;
}

/* ods = oferta de la semana */

.intel-blinds-ods{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 7.8px;
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
}

.ods-ods{
  margin-top: 8px;
  font-weight: bold;
  font-size: 48px;
  color: white;
  line-height: 58px;
}

.precio-ods{
  margin-top: 42px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 58px;
}

.obj-ods{
  font-size: 30px;
  line-height: 58px;
  color:white;
  font-weight: 400;
}

.tiempo-ods{
  margin-top: 30px;
  color: white;
  margin-bottom: 60px;
}

.numero-ods, .unidad-ods{
  color: white;
  font-family: 'Lato', sans-serif;
}

.numero-ods{
  font-size: 48px;
  line-height: 36px;
  font-weight: 300;
}

.unidad-ods{
  font-size: 16px;
  line-height: 36px;
  font-style: italic;
}

.btn-ods{
  background-color: transparent;
  padding: 0px 30px;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  letter-spacing: 3.3px;
  line-height: 40px;
  font-size: 11px;
}

#row-descuento{
  margin-top: 60px;
}

.titulo-descuento{
  font-weight: bold;
  font-size: 36px;
  line-height: 58px;
}

.numero-descuento{
  color: #216EFC;
}

.texto-descuento{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #A1A1A1;
  font-weight: bold;
}

.registra-correo{
  background-color: #F0F5F9;
  color: #A1A1A1;
  font-family: 'Lato', sans-serif;
  border: 1px solid transparent;
  font-size: 15px;
  height: 41px;
  /* line-height: ; */
}

.btn-registra-correo{
  border: 1px solid transparent;
  background-color: #216EFC;
  font-size: 11px;
  font-weight: bold;
  padding-left: 38px;
  padding-right: 38px;
  height: 40px;
  /* padding-top: 13px; */
  /* padding-bottom: 13px; */
  color: white;
}

.titulo-persiana{
  font-weight: bold;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
  margin-bottom: -24px;
}

.desc-persiana{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 3.6px;
  line-height: 48px;
  font-weight: bold;
  color: #A1A1A1;
}

.contenedor-img{
  width: 100%;
  height: 100%;
}

.row-img img{
  width: 100%;
  height: 100%;
}

img.img-fix{
  width: 102%;
}

i.icono{
  font-size: 20px;
  margin-top: 8px;
}

.footer-font{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #363636;
    font-weight: bold;
}

.footer-font-gray{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #A1A1A1;
    /* font-weight: bold; */
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  
  .carousel-caption {
    /* top: 50%; */
    transform: translateY(-30%);
  }

  .slider-container {
    width: 100%;
    height: 100% !important;
    opacity: 0.85;
  }


  .subtitle-slider-caption {
    color: #216EFC;
  }

  strong.font-weight-bold > p.black-title{
    margin-bottom: -22px;
    font-size: 60px;
    color: #000000;
}

strong.font-weight-bold > p.blue-title{
    margin-bottom: 0px;
    margin-top: -22px;
    font-size: 60px;
    color: #216EFC;
}

strong.font-weight-bold > .btn-link-underline {
    margin-bottom: 0px;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    letter-spacing: 4px;
  }

  .features-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .features-desc{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3.6px;
    color: #A1A1A1;
    font-size: 12px;
    margin-top: 0px;
  }

  .todas-las-colecciones{
    font-size: 36px;
    line-height: 58px;
    font-weight: bold;
  }

  .texto-para-descripcion{
    font: bold 12px / 26px Lato;
    letter-spacing: 3.6px;
    color: rgb(172, 172, 172);
    /* opacity: 1; */
  }


  
  /* .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }
  
  div.carousel-caption > h1.font-weight-bold > p.black-title {
    margin-bottom: 0px;
    color: #000 !important;
    font-size: 1.4em;
  }
  
  div.carousel-caption > h1.font-weight-bold > p.blue-title {
    margin-bottom: 0px;
    color: #3578f9 !important;
    font-size: 1.4em;
  }
  
  */

  

/* .carousel-item img, .carousel-item-active img{
    height: 630px;
} */
/* REGLAS NECESARIAS PARA HEADER Y FOOTER */
