*{
    font-family: 'Montserrat', sans-serif;
}

#servCliente a{
    font-size: 13px;
    letter-spacing: 0.36px;
    color: #828282
}

.footer-font{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #363636;
    font-weight: bold;
}

.footer-font-gray{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #A1A1A1;
}


#hero-accion{
    margin-top: 50px;
    background-color: #F8F8F8;
}

.row-hero div:nth-child(2){
    overflow: hidden;
}

.row-hero div:nth-child(2) div.img{
    background-image: url('../img/hero.png');
height: 710px;
background-position: right;
/* opacity: 0.8; */
filter: brightness(70%);
}



#desc-caracteristicas{
    padding-left: 80px;
    padding-right: 30px;
}

.titulo-persiana-caracteristicas{
    color: #216EFC;
    font-size: 61px;
    letter-spacing: -3.05px;
    font-weight: bold;
    margin-bottom: 4px;
}

.marca-persiana{
    font-weight: 500;
    text-transform: uppercase;
    color: #403A20;
    letter-spacing: 2.2px;
    font-size: 22px;
}

.caracteristicas-descripciones{
    margin-top: 23px;
    margin-bottom: 80px;
    font-size: 27px;
    color: #707070;
    line-height: 33px;
    font-weight: 500;
}

.caracteristicas-principales{
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -1.3px;
    color: #3B444D;
    margin-bottom: 32px;
}

ul#caracteristicas{
    padding-left:0px ;
}

ul#caracteristicas li{
    display: inline;
    color: #707070;
    font-size: 23px;
    font-weight: 500;
}


ul#caracteristicas li i{
    color: #1754A0;

    font-size: 32px;
}




/* .row-hero div:nth-child(2) img{ */
    /* background-position: right; */
/* } */

/* Comienzan estilos propios de la página */
