/* REGLAS NECESARIAS PARA HEADER Y FOOTER */

*{
    font-family: 'Montserrat', sans-serif;
}



#servCliente a{
    font-size: 13px;
    letter-spacing: 0.36px;
    color: #828282
}

#footer-contenido{
    margin-top: 120px;
    margin-bottom: 80px;
}

#row-features{
  margin-top: 64px;
  margin-bottom: 64px;
}

#row-cards-coloridas{
  margin-top: 90px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}

div.texto-card-colorida{
  margin-top: 50px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.cards-coloridas{
  height: 425px;
  width: 90%;
  border-radius: 80px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);

}

#card-azul{
  background-color: #216EFC;
}

#card-naranja{
  background-color: #F38B23;
}

#card-verde{
  background-color: #ACCC23;
}

.titulo-persiana{
  font-weight: bold;
  font-size: 24px;
  line-height: 58px;
  color: #000000;
  margin-bottom: -24px;
}

.desc-persiana{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 3.6px;
  line-height: 48px;
  font-weight: bold;
  color: #A1A1A1;
}

.contenedor-img{
  width: 100%;
  height: 100%;
}

.row-img img{
  width: 100%;
  height: 100%;
}

img.img-fix{
  width: 102%;
}

i.icono{
  font-size: 20px;
  margin-top: 8px;
}

.footer-font{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #363636;
    font-weight: bold;
}

.footer-font-gray{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #A1A1A1;
    /* font-weight: bold; */
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  
  .carousel-caption {
    /* top: 50%; */
    transform: translateY(-30%);
  }

  .slider-container {
    width: 100%;
    height: 100% !important;
    opacity: 0.85;
  }


  .subtitle-slider-caption {
    color: #216EFC;
  }

  strong.font-weight-bold > p.black-title{
    margin-bottom: -22px;
    font-size: 60px;
    color: #000000;
}

strong.font-weight-bold > p.blue-title{
    margin-bottom: 0px;
    margin-top: -22px;
    font-size: 60px;
    color: #216EFC;
}

strong.font-weight-bold > .btn-link-underline {
    margin-bottom: 0px;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    letter-spacing: 4px;
  }

  .features-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .features-desc{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 3.6px;
    color: #A1A1A1;
    font-size: 12px;
    margin-top: 0px;
  }

  .todas-las-colecciones{
    font-size: 36px;
    line-height: 58px;
    font-weight: bold;
  }

  .texto-para-descripcion{
    font: bold 12px / 26px Lato;
    letter-spacing: 3.6px;
    color: rgb(172, 172, 172);
    /* opacity: 1; */
  }


  
  /* .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }
  
  div.carousel-caption > h1.font-weight-bold > p.black-title {
    margin-bottom: 0px;
    color: #000 !important;
    font-size: 1.4em;
  }
  
  div.carousel-caption > h1.font-weight-bold > p.blue-title {
    margin-bottom: 0px;
    color: #3578f9 !important;
    font-size: 1.4em;
  }
  
  */

  

/* .carousel-item img, .carousel-item-active img{
    height: 630px;
} */
/* REGLAS NECESARIAS PARA HEADER Y FOOTER */
